*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json
/app/build
.env
/target/
/ai-cookbook-f347b-firebase-adminsdk-fbsvc-526f99b3f7.json
.settings/
.classpath
.project
bin/
.vscode/
target/
